body {
    color: whitesmoke;
    background-color: #0a0a3a;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#astroCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}
.astroCard {
    background-color: #272742;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    width: 200px;
    margin: 10px;
    padding: 10px;
}
select {
    margin: 20px;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid gray;
}