body {
    background-color: rgb(16, 16, 197);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#astroCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}
.astroCard {
    background-color: rgb(0, 2, 122);
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    width: 200px;
    margin: 10px;
    padding: 10px;
}